/* CSS crunched with Crunch - http://crunchapp.net/ */
html,body{height:100%;}
body{background-color:#f1f1f1;font-size:16px;line-height:1.2;font-family:MetaBlack,"Trebuchet MS",sans-serif;color:#585858;overflow:hidden;}body:before{content:"";height:100%;float:left;width:0;margin-top:-32767px;}
#contenedor{min-height:100%;}
header{height:150px;}header h1{font-size:2.3em;margin-top:25px;text-align:center;}
header input[type="text"]{border:1px solid #a4a4a4;border-radius:5px;color:#585858;display:block;margin:0 auto;padding:5px 10px;width:600px;transition:All linear 0.5s;}header input[type="text"]:focus{border:1px solid #9e99f4;box-shadow:0px 0px 4px #9e99f4;}
section{width:860px;margin:0 auto;overflow:auto;padding-left:90px;padding-bottom:200px;}section article{float:left;}
section #enlaces{margin:-28px 0px 0px 40px;}section #enlaces h3{font-size:1.5em;text-align:center;}
section #enlaces ul{width:250px;}section #enlaces ul li{float:left;list-style:none;padding-right:40px;}
section a:hover{opacity:0.7;}
footer{background-color:#e7e7e7;border-top:1px solid #dddddd;height:160px;margin-top:-180px;padding-top:5px;position:relative;width:100%;}footer #foot{width:860px;margin:0 auto;}
footer h3{margin:0;padding:0;padding-left:90px;}
footer #enlaces_firefox{display:block;width:860px;}
footer ul li{float:left;list-style:none;padding-right:240px;}
footer a:hover{opacity:0.7;}
